@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

body{
    font-family: sans-serif;
    padding: 0px;
    border: 500px;
    margin: 0;
}


.logo{
    border: 20px;
    margin: 5px;
    text-align: left;
}
nav{
    padding: 10px;
    background-color: brown;
    
}
h1, h2{
    text-align: center;   
}

header nav ul{
    list-style: none;
    text-align: center;


}

header nav ul li{
    display: inline;
    padding: 5px 15px;
    }

header nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    text-align: center;
    padding: 25px;
    }

main .titulo{
    color: green;
    text-transform: uppercase;
}

 main #imgPrincipal img{
     width: 700px;
     height: 270px;
     background-size: cover;
    
}


footer{
    border: 50px;
    text-align: center;
    padding: 5px;
    background-color: brown;

}

.formulario{
    border-style: groove;
    border-radius: 1px;
    border-color:green;
    padding:4px;
    

}